<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="board.css">
    <title>Board</title>
</head>
<body>
    <div class="members">
        <!-- <div class="buttons">
            <button>tab1</button>
        </div> -->
    </div>
    <div class="drawing-board">
        <canvas id="drawing-board"></canvas>
    </div>
    <div class="input">
        <div id="inputOption">
            <button id="clear">CLEAR</button>
            <label for="guess">GUESS</label>
            <input id="guess" type="text" placeholder="Guess the phrase.">
            <!-- <label for="linewidth">LINEWIDTH</label>
            <input id="linewidth" name='linewidth' type="number" value="5"> -->
            <button id="submit" type="submit" class="btn btn-success">SUBMIT</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../app.js"></script>
    <!-- <script src="../server.js"></script> -->
    <!-- <script src="../server/services/models/index.js"></script> -->
</body>
</html>