<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Skribbl Together</title>
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-left">
                    <a class="nav-link active" aria-current="page" href="/api/">Home</a>
                    <a class="nav-link " href="/ap/rules">Rules</a>
                    <!-- <a class="nav-link" href="/campgrounds/new">REGISTER CAMPSITE</a> -->
                </nav>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                        <a class="nav-link" href="/api/login">LOGIN</a>
                        <a class="nav-link" href="/api/register">SIGN UP</a>
                </nav>
            </div>
        </header>
        <main class="px-3 font-weight-bold">
            <h1><a href="/api/createRoom/:userId" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">CREATE ROOM</a></h1>
        </main>
    </div>    
</body>
</html>